{{template "headerpart" .}}
<!-- Center Column -->
<div class="col-sm-12">

	<div class="panel panel-default panel-custom" id="environment_panel">
		<div class="panel-heading">
			<h1 class="panel-title"><span class="glyphicon glyphicon-wrench"></span> Environment </h1>
		</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-xs-9">
					<ul class="nav nav-pills">
						<li class="active">
			        <a href="#repository_configuration_tab" data-toggle="tab">Repository</a>
						</li>
						<li>
			        <a href="#template_configuration_tab" data-toggle="tab">Template</a>
						</li>
						<li>
							<a href="#test_program_configuration_tab" data-toggle="tab">Test Program</a>
						</li>
						<li>
							<a href="#node_configuration_tab" data-toggle="tab">Node Configuration</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-3">
					<span style="float: right">
						<button class="btn btn-default" id="update_btn" type="button"><span class="glyphicon glyphicon-save"></span> Update </button>
						<button class="btn btn-default" id="commit_btn" type="button"><span class="glyphicon glyphicon-saved"></span> Update and Commit </button>
					</span>
				</div>
			</div>

			<div class="tab-content clearfix">

			  <div class="tab-pane active" id="repository_configuration_tab">
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    Git repository
						</div>
						<div class="col-xs-10">
						    <input id="git_repository_uri" type="text" name="git_repository_uri" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    Git Username
						</div>
						<div class="col-xs-10">
						    <input id="git_user_name" type="text" name="git_user_name" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    Git User E-Mail
						</div>
						<div class="col-xs-10">
						    <input id="git_user_email" type="text" name="git_user_email" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    Design filename
						</div>
						<div class="col-xs-10">
						    <input id="design_file_name" type="text" name="design_file_name" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
				</div>

				<div class="tab-pane" id="template_configuration_tab">
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    Template filename
						</div>
						<div class="col-xs-10">
						    <input id="template_file_name" type="text" name="template_file_name" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    Template
						</div>
						<div class="col-xs-10">
							<textarea id="template_content" name="template_content" rows="20" class="form-control"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
				</div>

				<div class="tab-pane" id="test_program_configuration_tab">
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    TestCase directory name
						</div>
						<div class="col-xs-10">
						    <input id="test_case_directory_name" type="text" name="test_case_directory_name" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    TestRunner script template
						</div>
						<div class="col-xs-10">
						    <textarea id="test_runner_script_template" name="test_runner_script_template" rows="20" class="form-control"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
				</div>

				<div class="tab-pane" id="node_configuration_tab">
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    Server config directory
						</div>
						<div class="col-xs-10">
						    <input id="server_config_directory_name" type="text" name="server_config_directory_name" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
						    Device config directory
						</div>
						<div class="col-xs-10">
						    <input id="device_config_directory_name" type="text" name="device_config_directory_name" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						    &nbsp;
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div><!--/Center Column-->

<script language="javascript">
	(function($) {

    {{template "functions" .}}

		const target = "present";

		var environment = null;

		function onEnvironmentModified(result, successCode, successMessage, ignoreSuccess) {
			if (result.status == successCode) {
				if (!ignoreSuccess) {
					$('html,body').animate({scrollTop:0},'slow');
					$('#information_message').text(successMessage);
					$('#alert_info').fadeIn(500).delay(2000).fadeOut(1000);
					$('#edit_panel').fadeOut(150);
					loadResources();
				}
				return true;
			} else {
				$('html,body').animate({scrollTop:0},'slow');
				$('#error_message').text(result.resource.error);
				$('#alert_error').fadeIn(500).delay(2000).fadeOut(1000);
				return false;
			}
		}

		function onUpdateEnvironment() {
			if (!confirm("Are you sure to update?")) {
				return;
			}

			environment.git_repository_uri = $("#git_repository_uri").val();
			environment.git_user_name = $("#git_user_name").val();
			environment.git_user_email = $("#git_user_email").val();
			environment.design_file_name = $("#design_file_name").val();
			environment.template_file_name = $("#template_file_name").val();
			environment.test_case_directory_name = $("#test_case_directory_name").val();
			environment.template.template_content = $("#template_content").val();
			environment.test_runner_script.template_content = $("#test_runner_script_template").val();
			environment.server_config_directory_name = $("#server_config_directory_name").val();
			environment.device_config_directory_name = $("#device_config_directory_name").val();

			if (environment.id == null) {
				environment.id = 1;
			}
			var result = putResource('environments', target, environment);
			onEnvironmentModified(result, 200, 'The environment has been registered successfully', false);
		}

		function onCommitEnvironment() {
			if (!confirm("Are you sure to update and commit?")) {
				return;
			}

			environment.git_repository_uri = $("#git_repository_uri").val();
			environment.git_user_name = $("#git_user_name").val();
			environment.git_user_email = $("#git_user_email").val();
			environment.design_file_name = $("#design_file_name").val();
			environment.template_file_name = $("#template_file_name").val();
			environment.test_case_directory_name = $("#test_case_directory_name").val();
			environment.template.template_content = $("#template_content").val();
			environment.test_runner_script.template_content = $("#test_runner_script_template").val();
			environment.server_config_directory_name = $("#server_config_directory_name").val();
			environment.device_config_directory_name = $("#device_config_directory_name").val();

			if (environment.id == null) {
				environment.id = 1;
				var result = postResource('environments', environment);
				if (!onEnvironmentModified(result, 201, 'The environment has been updated successfully', true)) {
					return;
				}
			} else {
				var result = putResource('environments', target, environment);
				if (!onEnvironmentModified(result, 200, 'The environment has been updated successfully', true)) {
					return;
				}
			}
			var result = putResource('environments', target + '/commitment', {});
			onEnvironmentModified(result, 200, 'The environment has been updated and commited successfully', false)
		}

		function loadResources() {
			var result = getResource('environments', target, 'preloads=Template,TestRunnerScript');
			if (result.status != 200) {
				environment = {
				  design_file_name: "design.json",
				  git_repository_uri: "/tmp/clay_generated_conf",
				  git_user_email: "clay@example.com",
				  git_user_name: "clay",
				  template: {
						name: "environment_template",
						template_content: ""
					},
				  template_file_name: "terraform.tf",
				  test_case_directory_name: "testcase",
				  test_runner_script: {
						name: "environment_test_runner_script",
						template_content: ""
					},
					server_config_directory_name: "server_config",
					device_config_directory_name: "device_config",
				}
			} else {
				environment = result.resource;
			}
		}

		function showEnvironment() {
			$("#git_repository_uri").val(environment.git_repository_uri);
			$("#git_user_name").val(environment.git_user_name);
			$("#git_user_email").val(environment.git_user_email);
			$("#design_file_name").val(environment.design_file_name);
			$("#template_file_name").val(environment.template_file_name);
			$("#test_case_directory_name").val(environment.test_case_directory_name);
			$("#template_content").val(environment.template.template_content);
			$("#test_runner_script_template").val(environment.test_runner_script.template_content);
			$("#server_config_directory_name").val(environment.server_config_directory_name);
			$("#device_config_directory_name").val(environment.device_config_directory_name);
		}

		function onLoad() {
			loadResources();
			$('#environment_panel').fadeIn(150);
			showEnvironment();
		}

		$('#update_btn').on('click', function() {
			onUpdateEnvironment();
		});

		$('#commit_btn').on('click', function() {
			onCommitEnvironment();
		});

		onLoad();

	})(jQuery);
</script>
{{template "footerpart" .}}
