{{template "headerpart" .}}

<div class="col-sm-12">
	<div class="panel panel-default panel-custom" id="test_program_service_panel">
		<div class="panel-heading">
			<h1 class="panel-title">
				<span class="glyphicon glyphicon-wrench"></span> Firewall Test Programs
			</h1>
		</div>
		<div class="panel-body">
			<div class="col-sm-4">
				<div class="panel panel-default" id="edit_test_program_service_panel">
					<div class="panel-heading">
						<h1 class="panel-title"><span class="glyphicon glyphicon-transfer"></span> Services </h1>
					</div>
					<div class="panel-body">
						<table class="table" style="border:none;">
							<tr style="border:none;">
								<td style="border:none;" width="25%">Service</td>
								<td style="border:none;" width="75%"><select class="form-control" id="services"></select></td>
							</tr>
							<tr style="border:none;">
								<td style="border:none;"></td>
								<td style="border:none;"><span style="float: right"><button class="btn btn-default" id="edit_test_program_btn" type="button"><span class="glyphicon glyphicon-edit"></span> Edit Test Program</button></span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="panel panel-default panel-custom" id="edit_test_program_panel">
					<div class="panel-heading">
						<h1 class="panel-title"><span class="glyphicon glyphicon-file"></span> Test Programs</h1>
					</div>
					<div class="panel-body">
						<div id="edit_test_program_panel">
							<div class="row">
							  <div class="col-xs-12">
							    Client Test Program
							  </div>
							</div>
							<div class="row">
							  <div class="col-xs-12">
							    <textarea id="edit_test_program_client" name="edit_test_program_client" rows="10" class="form-control"></textarea>
							  </div>
							</div>
							<div class="row">
							  <div class="col-xs-12">
							    <hr>
							  </div>
							</div>
							<div class="row">
							  <div class="col-xs-12">
							    Server Test Program
							  </div>
							</div>
							<div class="row">
							  <div class="col-xs-12">
							    <textarea id="edit_test_program_server" name="edit_test_program_server" rows="10" class="form-control"></textarea>
							  </div>
							</div>
							<div class="row">
							  <div class="col-xs-12">
							    &nbsp;
							  </div>
							</div>
						</div>
						<span style="float: left"><button class="btn btn-default" id="update_test_program_btn" type="button"><span class="glyphicon glyphicon-ok"></span> Update</button></span>
						<span style="float: left">&nbsp;</span>
						<span style="float: left"><button class="btn btn-default" id="cancel_update_test_program_btn" type="button"><span class="glyphicon glyphicon-remove"></span> Cancel</button></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	(function($) {

		{{template "functions" .}}

		var services = null;
		var serviceMap = null;

		var editingTestProgram = null;

		function loadResources() {
			services = getResources('services', 'preloads=Connections,Connections.Protocol,TestProgram,TestProgram.ServerScriptTemplate,TestProgram.ClientScriptTemplate').resources;
			serviceMap = buildResouceMapFromResourceArray(services);
		}

		function createSelectElement(name, style, options, value) {
			var select =  $('<select>').prop('name', name).prop('class', 'form-control').prop('style', style);
			var editSelectOptionsElement = createSelectOptionsElement(options);
			for (var i = 0; i < editSelectOptionsElement.length; i = i + 1) {
				if ((value == null) && (i == 0)) {
						select.append(editSelectOptionsElement[i].attr('selected', 'selected'));
				} else {
					if (value == editSelectOptionsElement[i].val()) {
						select.append(editSelectOptionsElement[i].attr('selected', 'selected'));
					} else {
						select.append(editSelectOptionsElement[i]);
					}
				}
			}
			return select[0];
		}

		function createSelectOptionsElement(options) {
			var result = [];
			for (var i = 0; i < options.length; i = i + 1) {
				result.push($('<option>').val(options[i].value).text(options[i].text));
			}
			return result;
		}

		function showServices() {
			$("#services").children().remove();

			for (var i = 0; i < services.length; i = i + 1) {
				var service = services[i]
				$("#services").append($('<option>').val(service.id).text(service.name));
			}
		}

		function onEditTestProgram() {
			if ($('#services').val() == null) {
				alert('Add a service first.');
				return;
			}

			var service = serviceMap[$('#services').val()];
			editingTestProgram = service.test_program;

			if (editingTestProgram == null) {
				editingTestProgram = {
					name: service.name + " TestProgram",
					service_id: service.id,
					client_script_template: {
						name: service.name + " Client TestProgram",
						template_content: ""
					},
					server_script_template: {
						name: service.name + " Server TestProgram",
						template_content: ""
					}
				}
			}

			$('#edit_test_program_panel').fadeOut(150, function() {
				$("#edit_test_program_client").val(editingTestProgram.client_script_template.template_content);
				$("#edit_test_program_server").val(editingTestProgram.server_script_template.template_content);
				$('#edit_test_program_panel').fadeIn(150, function() {
				});
			});
		}

		function onTestProgramModified(result, successCode, successMessage, ignoreSuccess) {
			if (result.status == successCode) {
				if (!ignoreSuccess) {
					$('html,body').animate({
						scrollTop: 0
					}, 'slow');
					$('#information_message').text(successMessage);
					$('#alert_info').fadeIn(500).delay(2000).fadeOut(1000);
					$('#edit_test_program_panel').fadeOut(150);
					loadResources();
					showServices();
				}
				return true;
			}
			else {
				$('html,body').animate({
					scrollTop: 0
				}, 'slow');
				$('#error_message').text(result.resource.error);
				$('#alert_error').fadeIn(500).delay(2000).fadeOut(1000);
				return false;
			}
		}

		function onUpdateTestProgram() {
			if (!confirm('Are you sure to update?')) {
				return;
			}

			editingTestProgram.client_script_template.template_content = $("#edit_test_program_client").val();
			editingTestProgram.server_script_template.template_content = $("#edit_test_program_server").val();

			if (editingTestProgram.id == null) {
				var result = postResource('test_programs', editingTestProgram);
				onTestProgramModified(result, 201, 'The service has been updated successfully', false);
			} else {
				var result = putResource('test_programs', editingTestProgram.id, editingTestProgram);
				onTestProgramModified(result, 200, 'The service has been updated successfully', false);
			}
		}

		function onCancelUpdateTestProgram() {
			if (!confirm('Are you sure to cancel?')) {
				return;
			}

			$('html,body').animate({scrollTop:0},'slow');
			$('#edit_test_program_panel').fadeOut(150);
		}

		$('#edit_test_program_btn').on('click', function() {
			onEditTestProgram();
		});

		function onLoad() {
			loadResources();
			$('#test_program_service_panel').fadeIn(150);
			showServices();
		}

		$('#update_test_program_btn').on('click', function() {
			onUpdateTestProgram();
		});

		$('#cancel_update_test_program_btn').on('click', function() {
			onCancelUpdateTestProgram();
		});

		onLoad();

	})(jQuery);
</script>
{{template "footerpart" .}}
