{{template "headerpart" .}}

<div class="col-sm-12">
	<div class="panel panel-default panel-custom" id="firewall_test_program_service_panel">
		<div class="panel-heading">
			<h1 class="panel-title">
				<span class="glyphicon glyphicon-wrench"></span> Firewall Test Programs
			</h1>
		</div>
		<div class="panel-body">
			<div class="col-sm-4">
				<div class="panel panel-default" id="edit_firewall_test_program_service_panel">
					<div class="panel-heading">
						<h1 class="panel-title"><span class="glyphicon glyphicon-transfer"></span> Services </h1>
					</div>
					<div class="panel-body">
						<table class="table" style="border:none;">
							<tr style="border:none;">
								<td style="border:none;" width="25%">Service</td>
								<td style="border:none;" width="75%"><select class="form-control" id="services"></select></td>
							</tr>
							<tr style="border:none;">
								<td style="border:none;"></td>
								<td style="border:none;"><span style="float: right"><button class="btn btn-default" id="edit_firewall_test_program_btn" type="button"><span class="glyphicon glyphicon-edit"></span> Edit Test Program</button></span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="panel panel-default panel-custom" id="edit_firewall_test_program_panel">
					<div class="panel-heading">
						<h1 class="panel-title"><span class="glyphicon glyphicon-file"></span> Test Programs</h1>
					</div>
					<div class="panel-body">
						<div id="edit_firewall_test_program_panel">
							<div class="row">
							  <div class="col-xs-12">
							    Test Program
							  </div>
							</div>
							<div class="row">
							  <div class="col-xs-12">
							    <textarea id="edit_firewall_test_program_test_script" name="edit_firewall_test_program_test_script" rows="10" class="form-control"></textarea>
							  </div>
							</div>
							<div class="row">
							  <div class="col-xs-12">
							    &nbsp;
							  </div>
							</div>
						</div>
						<span style="float: left"><button class="btn btn-default" id="update_firewall_test_program_btn" type="button"><span class="glyphicon glyphicon-ok"></span> Update</button></span>
						<span style="float: left">&nbsp;</span>
						<span style="float: left"><button class="btn btn-default" id="cancel_update_firewall_test_program_btn" type="button"><span class="glyphicon glyphicon-remove"></span> Cancel</button></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	(function($) {

		{{template "functions" .}}

		var services = null;
		var serviceMap = null;

		var editingFirewallTestProgram = null;

		function loadResources() {
			services = getResources('services', 'preloads=Connections,Connections.Protocol,FirewallTestProgram,FirewallTestProgram.TestScriptTemplate').resources;
			serviceMap = buildResouceMapFromResourceArray(services);
		}

		function showServices() {
			$("#services").children().remove();

			for (var i = 0; i < services.length; i = i + 1) {
				var service = services[i]
				$("#services").append($('<option>').val(service.id).text(service.name));
			}
		}

		function onEditFirewallTestProgram() {
			if ($('#services').val() == null) {
				alert('Add a service first.');
				return;
			}

			var service = serviceMap[$('#services').val()];
			editingFirewallTestProgram = service.firewall_test_program;

			if (editingFirewallTestProgram == null) {
				editingFirewallTestProgram = {
					name: service.name + " FirewallTestProgram",
					service_id: service.id,
					test_script_template: {
						name: service.name + " FirewallTestProgram TestScript",
						template_content: ""
					}
				}
			}

			$('#edit_firewall_test_program_panel').fadeOut(150, function() {
				$("#edit_firewall_test_program_test_script").val(editingFirewallTestProgram.test_script_template.template_content);
				$('#edit_firewall_test_program_panel').fadeIn(150, function() {
				});
			});
		}

		function onFirewallTestProgramModified() {
			$('#edit_firewall_test_program_panel').fadeOut(150);
			loadResources();
			showServices();
		}

		function onUpdateFirewallTestProgram() {
			if (!confirm('Are you sure to update?')) {
				return;
			}

			editingFirewallTestProgram.test_script_template.template_content = $("#edit_firewall_test_program_test_script").val();

			if (editingFirewallTestProgram.id == null) {
				var result = postResource('firewall_test_programs', editingFirewallTestProgram);
				showProcessResult(result, 201, 'The service has been updated successfully', false, onFirewallTestProgramModified);
			} else {
				var result = putResource('firewall_test_programs', editingFirewallTestProgram.id, editingFirewallTestProgram);
				showProcessResult(result, 200, 'The service has been updated successfully', false, onFirewallTestProgramModified);
			}
		}

		function onCancelUpdateFirewallTestProgram() {
			if (!confirm('Are you sure to cancel?')) {
				return;
			}

			$('html,body').animate({scrollTop:0},'slow');
			$('#edit_firewall_test_program_panel').fadeOut(150);
		}

		$('#edit_firewall_test_program_btn').on('click', function() {
			onEditFirewallTestProgram();
		});

		function onLoad() {
			loadResources();
			$('#firewall_test_program_service_panel').fadeIn(150);
			showServices();
		}

		$('#update_firewall_test_program_btn').on('click', function() {
			onUpdateFirewallTestProgram();
		});

		$('#cancel_update_firewall_test_program_btn').on('click', function() {
			onCancelUpdateFirewallTestProgram();
		});

		onLoad();

	})(jQuery);
</script>
{{template "footerpart" .}}
